<div class="sidebar">
  <div class="block-content" id="intro">
    <h2><%= link_to "Gabriel Laden", posts_path %></h2>
    <p>On <a href="#">Blogcast</a> I write about learning Ruby on Rails web development 
      along with examples, tutorials, and book reviews. <a href="#">Subscribe</a> to my blog for 
      coding tips and a free cup of coffee :)</p>
  </div><!--block-content-->

  <div class="block-content"  id="search">
    <%= link_to "Blogcast Archive", archives_path %>

    <form method="get" action="http://www.google.com/search">
      <fieldset>
        <input name="q" type="text"/>
        <input name="sitesearch" value="http://gabriel.heroku.com/" type="hidden"/>
      </fieldset>
    </form>
  </div><!--block-content-->

  <p class="subscribe"><a href="/posts">Subscribe to my blog</a></p>
</div><!--sidebar-->
