<div class="sidebar">
	<div class="block-content" id="intro">
		<h2><%= link_to "A better way to blog.", posts_path %></h2>
		<p>Joe Blogger. On <a href="#">Blogcast</a> I write about Rails,
			sports and bacon. <a href="#">Subscribe</a> to my blog for 
			coding tips and Grade A maple syrup.</p>
	</div><!--block-content-->
	
	<div class="block-content"  id="search">
		<%= link_to "Blogcast Archive", archives_path %>
		
		<form method="get" action="http://www.google.com/search">
			<fieldset>
				<input name="q" type="text"/>
				<input name="sitesearch" value="http://domain.com/blog" type="hidden"/>
			</fieldset>
		</form>
	</div><!--block-content-->
	
	<p class="subscribe"><a href="#">Subscribe to my blog</a></p>
</div><!--sidebar-->